<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/heads.html') %>
    <link rel="STYLESHEET" type="text/css" href="/css/index.css">
    <title><%=title %></title>
   
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <br>
        <div class="row">
            <div class="card" style="width: 15rem ;height: auto;">
                <img src="/images/pasatiempo.png" class="card-img-center" >
                <div class="card-body">
                    <h5 class="card-title">Pasatiempo 1</h5>
                    <p class="card-text">Pasatiempos y juegos gratis que ayudan a ejercitar la mente.</p>
                </div>
                <div class="card-body">
                    <a href="/pasatiempo1" class="card-link">Resolver Pasatiempo</a>
                </div>
            </div>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
        
            <div class="card" style="width: 15rem ;height: auto;">
                <img src="/images/pasatiempo2.png" class="card-img-center" >
                <div class="card-body">
                    <h5 class="card-title">Pasatiempo 2</h5>
                    <p class="card-text">Pasatiempos y juegos gratis que ayudan a ejercitar la mente.</p>
                </div>
                <div class="card-body">
                    <a href="/pasatiempo2" class="card-link">Resolver Pasatiempo</a>
                </div>
            </div>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
        
            <div class="card" style="width: 15rem ;height: auto;">
                <img src="/images/pasatiempo3.png" class="card-img-center" >
                <div class="card-body">
                    <h5 class="card-title">Pasatiempo 3</h5>
                    <p class="card-text">Pasatiempos y juegos gratis que ayudan a ejercitar la mente.</p>
                </div>
                <div class="card-body">
                    <a href="/pasatiempo3" class="card-link">Resolver Pasatiempo</a>
                </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>