body{
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    font-family: 'Spicy Rice', cursive;
}   

.titulo{
    text-align: left;
    font-size: 200%;
    font-weight: bold;
    color: black;
}

.pistas{
    font-weight: bold;
}

.table2{
	display: none;
}

.texto{
	margin-left: 5px;
}

#cajacookies {
	box-shadow: 0px 0px 5px 5px #808080;
	background-color: rgba(181, 238, 225, 0.925);
    text-align: center;
	color: black;
	padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
  }







