body{
    background-image: url("/images/fondoFutbol.jpg");
    background-size: cover;
    font-family: 'Spicy Rice', cursive;
}

.container{
    margin-top: 15px;
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.row{
    text-align: center;
    align-items: center;
}