<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/heads.html') %>
    <link rel="STYLESHEET" type="text/css" href="/css/Kiosco.css">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="navbar-Inicio">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Kiosco-Inicio"><i class="fas fa-home"></i>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Contacto-Inicio"><i class="fas fa-envelope"></i>Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto" id="navbar-Registrarse">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Perfil"><i class="fas fa-user-alt"></i> <%= datos[0].nombreUsuario %> </a>
                    </li>
                    
                </ul>
    
                
            </div>
        </div>
    </nav>
</body>
    
    <div class="container">
        <br>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="/images/descarga3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pokemon</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="/ColeccionPokemon-SesionIniciada" class="card-link">Ver colección</a>
                </div>
              </div>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;

            <div class="card" style="width: 18rem; height: 32rem;">
                <img src="/images/descarga2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fútbol</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="/ColeccionFutbol-SesionIniciada" class="card-link">Ver colección</a>
                </div>
              </div>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;

            <div class="card" style="width: 18rem;">
                <img src="/images/nba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">NBA</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="/ColeccionNBA-SesionIniciada" class="card-link">Ver colección</a>
                </div>
              </div>

              &nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;

              <div class="card" style="width: 18rem;height: 32rem;">
                <img src="/images/animales.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Animales</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="/ColeccionAnimales-SesionIniciada" class="card-link">Ver colección</a>
                </div>
              </div>
        </div>
    </div>
    <%- include ('partials/footer.html') %>
</body>
</html>